<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<link rel="stylesheet" type="text/css" href="./styles/stylesheet.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="./icons/logo.ico">
</head>
<body>
	<header id="showcase">
		<a href="" class="logo">Matcha</a>
		<a href="/"><img src="./icons/logo.ico" class="logo-icon"></a>
		<div class="menu-toggle">+</div>
		<nav>
			<ul>
				<li><a href="/" class="active">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<div class="container">
		<div>
			<h2>Search for your match</h2>
		</div>
		<div> 
			<button class="btn"><a href="/signin">Sign in</a></button>
			<button class="btn"><a href="/signup">Sign up</a></button>
		</div>
	</div>
	<canvas id="canvas1"></canvas>
	<footer>
		<p>pdonga@2019</p>
	</footer>
	<script type="text/javascript" src="./scripts/
	home.js"></script>
	<script type="text/javascript" src="./scripts/particles.js"></script>
</body>
</html>