<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./styles/public/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="./styles/forms/stylesheet.css">
	<link rel="icon" href="./icons/logo.ico">
	<title>Sign Up</title>
</head>
<body>
	<header>
		<a href="/" class="logo">Matcha</a>
		<a href="/"><img src="./icons/logo.ico" class="logo-icon"></a>
	</header>
	<div class="form-container">
		<h2>Forgot password</h2>
		<form action="/password" method="post">
			<div class="email-field, active">
				<input type="email" name="email" placeholder="Email Address">
				<div class="error">
					<p class="message"></p>
				</div>
				<div class="btn-container">
					<button class="submit-btn"> 
						submit
					</button>
				</div>
			</div>				
		</form>
		<div class="more">
			<p class="login"><a class="data" href="/signup">Sign up</a></p>
		</div>
	</div>
	<canvas id="canvas1"></canvas>
	<footer>
		<p>pdonga@2019</p>
	</footer>
	<script type="text/javascript" src="./scripts/particles.js"></script>
	<script type="text/javascript" src="./scripts/passwordPage.js"></script>
</body>
</html>