<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./styles/public/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="./styles/forms/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="./styles/forms/signin/stylesheet.css">
	<link rel="icon" href="./icons/logo.ico">
	<title>Login</title>
</head>
<body>
	<header>
		<a href="/" class="logo">Matcha</a>
		<a href="/"><img src="./icons/logo.ico" class="logo-icon"></a>
	</header>
	<div class="container">
		<h2>Sign In</h2>
		<form action="/signin" method="post">
			<div class="field-wrapper">
				<input class="username" type="text" name="userName" placeholder="Username or Email" value="<%= typeof body.userName != 'undefined' ? body.userName : ''%>">
				<div class="error">
					<p class="message"> <%= typeof errorOne != 'undefined' ? errorOne : ''%></p>
				</div>
				<input class="password" type="password" name="password" placeholder="Password" value="<%= typeof body.password  != 'undefined' ? body.password : ''%>">
				<div class="error">
					<p class="message"> <%= typeof errorTwo != 'undefined' ? errorTwo : ''%></p>
				</div>
				<div class="btn-container">		
					<button class="submit-btn"> 
						submit
					</button>
				</div>
			</div>
		</form>
		<div class="more">
			<p class="password"><a class="data" href="/password">Forgot password</a></p>
			<p class="login"><a class="data" href="/signup">Sign up</a></p>
		</div>
	</div>
	<canvas id="canvas1"></canvas>
	<footer>
		<p>pdonga@2019</p>
	</footer>
	<script type="text/javascript" src="./scripts/particles.js"></script>
	<script type="text/javascript" src="./scripts/sign-in.js"></script>
</body>
</html>