<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./styles/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="./styles/forms/stylesheet.css">
	<link rel="icon" href="./icons/logo.ico">
	<title>Sign Up</title>
</head>
<body>
	<header id="showcase">
		<a href="" class="logo">Matcha</a>
		<a href="/"><img src="./icons/logo.ico" class="logo-icon"></a>
		<div class="menu-toggle">+</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/password">Forgot password</a></li>
				<li><a href="/signin">Sign in</a></li>
			</ul>
		</nav>
		<div class="clearfix"></div>
	</header>
	<div class="body-container">
		<div class="body-wrapper" style="
		background: url('./icons/signin.svg'); 
		background-size: cover; 
		background-position: center center;
		background-repeat: no-repeat;">
		<div class="form-container">
			<% if(typeof success == 'undefined') { %> 
			<h2>Sign Up</h2>
			<form action="/signup" method="post">
				<div class="username-field, active-section">
					<input type="text" name="username" placeholder="Username">
					<div class="error">
						<p class="message" ></p>
					</div>
					<div class="btn-container">
						<span class="next-arrow-btn"> 
							Next
						</span>
					</div>
				</div>
				<div class="first-name-field, inactive-section">
					<input type="text" name="firstname" placeholder="First Name">
					<div class="error">
						<p class="message"></p>
					</div>
					<div class="btn-container">
						<span class="back-arrow-btn"> 
							Back
						</span>					
						<span class="next-arrow-btn"> 
							Next
						</span>
					</div>
				</div>
				<div class="last-name-field, inactive-section">
					<input type="text" name="lastname" placeholder="Last Name">
					<div class="error">
						<p class="message"></p>
					</div>
					<div class="btn-container">
							<span class="back-arrow-btn"> 
							Back
						</span>					
						<span class="next-arrow-btn"> 
							Next
						</span>
					</div>
				</div>
				<div class="email-field, inactive-section">
					<input type="email" name="email" placeholder="Email Address">
					<div class="error">
						<p class="message"></p>
					</div>
					<div class="btn-container">
						<span class="back-arrow-btn"> 
							Back
						</span>					
						<span class="next-arrow-btn"> 
							Next
						</span>
					</div>
				</div>				
				<div class="password-field, inactive-section">
					<input type="password" name="password" placeholder="Password">
					<div class="error">
						<p class="message"></p>
					</div>
					<div class="btn-container">
						<span class="back-arrow-btn"> 
							Back
						</span>				
						<button class="submit-btn"> 
							Done
						</button>
					</div>
				</div>
			</form>
			<% } else { %>
			<br>
				<h2>Verify Account</h2>
				<p>
					Thank you for signing up with Matcha, an email has been sent to you to verify your account.
				</p>
			<% } %>
		</div>
	</div>
	</div>
	<footer>
		<p>pdonga@2019</p>
	</footer>
	<!--<script type="text/javascript" src="./scripts/particles.js"></script>-->
	<script type="text/javascript" src="./scripts/sign-up.js"></script>
	<script type="text/javascript" src="./scripts/home.js"></script>
</body>
</html>