@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

.body-container {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#signin-body {
	background-image:linear-gradient(60deg, #1e2640 0%, #1e2640 100%);
}

#signin-header {
	background: #fae5c2;
}

#signin-footer {
	background: #fae5c2;
}

#password-body {
	background-image: linear-gradient(315deg, #eec0c6 0%, #e8dcdb 74%);	
}

#password-header {
	background: #411750;
}

#password-footer {
	background: #411750;
	color:#fff;
}

.body-wrapper {
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align:center;
	align-items: center;
	justify-content: center;
}

.form-container {
    height: 210px;
    width: 305px;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
}

#singin-container {
	height: 220px;
}


.form-container h2 {
	font-size: 2.5rem;
	margin: 1px;
	color: #17202A
}
/*
.form-container p {
	color: #fff;
}*/

.user-input {
	display: flex;
}
.first-name-field,
.last-name-field,
.email-field,
.username-field,
.password-field {
	position: absolute;
	left: 50%;
	top:45%;
	transform: translate(-50%, -50%);
	justify-content: center;
	width: 305px;
	height: 140px;
	transition: all 0.5s ease;
	border-radius: 2px;
	background: #fff;
}

div input {
	height: 25px;
	width: 80%;
	margin: 10%;
	border: none;
	border-radius: 2px;
	color: #17202A;
	flex: 1;
	margin-bottom: 1px;
	outline: none;
	font-size: 16px;
	font-family: 'Syne', sans-serif;
	border-bottom:1px solid #17202A;
}

.back-arrow-btn,
.next-arrow-btn {
	background: #fff;
	border: 1px solid #17202A;
	color: #17202A;
	font-family: 'Syne', sans-serif;
	padding: 12px 20px;
	min-width: 50px;
	margin: 10px;
	margin-top: 2px;
	cursor: pointer;
	font-size: 16px;
}

.submit-btn {
	background: #fff;
	border: none;
	padding: 11px 28px;
	margin-top: 2px;
	font-family: inherit;
	cursor: pointer;
	font-size: 16px;
	transition: 0.5s;
	display: flex;
	height: 45px;
}

.submit-btn:hover {
	background: #17202A;
	color:#fff;
}

#sign-in {
	border: 1px solid #17202A;
}

.active-section {
	display: block;
	position: absolute;
	justify-content: center;
	width: 305px;
	height: 140px;
	transition: all 0.5s ease;
	background: #fff;
}

.inactive-section {
	display: none;
	pointer-events: none;
	transition: all 0.5s ease;
}

.btn-container {
	position: absolute;
	align-content: center;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 2px;
	padding-bottom: 0px;
	width: 305px;
	display: flex;
}

.inative-btn-container {
	position: absolute;
	align-content: center;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 2px;
	padding-bottom: 0px;
	width: 100%;
	top: 90px;
	display: none;
}

span:hover {
	background: #17202A;
	color: #fff;
	transition: 0.5s;
}

div.error {
	display:flex;
	height:32px;
	left: 30px;
	color: red;
	width: 96%;
}
p.message {
	font-size: 12.5px;
	color: red;
	margin-top: 1px;
	margin-left: 30px;
	text-align: left;
}

div.more {
	align-content: center;
	
}


.login,
.password {
	margin-bottom: 1px;
}
.login {
	margin-top: 2px;
}

a.data {
	text-decoration: none;
	font-size: 13px;
	color: #17202A;
}

.invalid {
	font-size: 1.85rem;
}
@keyframes shake {
	0% {
		transform: translate(-50%, -50%, rotate(0deg));
	}
	50% {
		transform: translate(-50%, -50%, rotate(10deg));	
	}
	100% {
		transform: translate(-50%, -50%, rotate(0deg));
	}
}